.card {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: none;
  padding: 2rem;
}

.card-body {
  text-align: center;

  padding: 0;
}

.card-img {
  margin: 0 0 1rem 0;
}

.card-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.card-body .list-group {
  text-align: left;
}

.list-group-item {
}

.heart {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  display: flex;
  justify-content: flex-end;
}

.heart i {
  font-size: 1.2rem;
}
