.countries-single-container {
  padding: 1rem;
}
.back-button-container {
  padding: 0;
}

.main-country-row {
  gap: 3rem;
}
.map-container-container {
  border-radius: 1rem;
  overflow: hidden;
  height: 500px;
}

.map-container {
  height: 100%;
  width: 100%;
}

.gallery {
  padding: 0;
}

.carousel {
  border-radius: 1rem;
  overflow: hidden;
}

.gallery img {
  padding: 0;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.country-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.country-title i {
  font-size: 2rem;
}

.carousel {
  width: 500px;
  height: 500px;
}

.coat-of-arms {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.coat-of-arms img {
  max-height: 100%;
  max-width: 100%;
  -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.flag-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.flag-container img {
  max-height: 100%;
  max-width: 100%;
  -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.borders-heading {
  margin-top: 2rem;
}

.borders-container {
  padding: 0.5rem;
}

.border-container {
  border: none;
  padding: 0;
}

.border-container .btn-custom {
  margin: 0.2rem;
}

.weather-col {
  padding: 0;
}

.weather-container {
  background-color: #ffffff;
  border-radius: 1rem;
  max-width: 500px;
  padding: 1rem 0;

  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

.weather-container h3 {
  text-align: center;
}

.weather-container img {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.weather-container span {
  font-weight: 600;
  font-size: 1.5rem;
}

.weather-container i {
  font-size: 1.5rem;
  color: var(--main-colour);
}

.weather-main-info-container {
  background-color: rgb(236, 236, 236);
  padding: 0 1rem;
}

.weather-main-info-container .row {
  align-items: center;
}

.weather-item-container {
  margin-top: 0.5rem;
  justify-content: space-around;
  padding: 0 1rem;
}

.country-info {
  display: flex;
}

.country-info span {
  font-weight: 600;
}
