.countries-single-container {
}
.map-container {
}

.map {
  display: none;
}

.gallery {
  padding: 0;
}

.gallery img {
  padding: 0;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.country-single-title {
  text-align: center;
}

.carousel {
  width: 500px;
  height: 500px;
}
