.countries-single-container {
}
.map-container {
}

.map {
  display: none;
}

.gallery {
  gap: 1rem;
}

.gallery img {
  padding: 0;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.country-single-title {
  text-align: center;
}
