.form-container {
  margin-top: 2rem;
}

.form-control {
  border-radius: 100rem;
  border: 1px solid black;
  min-width: 20rem;
}

.form-control:focus {
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 0 8px rgba(0, 0, 0, 0.25); */
}
