.navbar {
  background-color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.navbar-nav a {
  color: rgb(228, 155, 255);
}

.navbar-nav a:active {
}

.navbar-brand {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  width: 100%;
}
