.navbar {
  background-color: #000000;
  color: white;
}

.navbar-nav {
  gap: 1rem;
}
.navbar-nav a {
  color: var(--main-colour);
}

.navbar-nav a:active {
}

.navbar-brand {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.logo {
  height: 100%;
  width: 100%;
}

.navbar .btn-custom {
  background-color: white;
  color: black;
  border: none;
}

.navbar .btn-custom:hover {
  border: none;
  background-color: var(--main-colour);
}
