.body-container {
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-content-container {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: antiquewhite;
}

.home-content {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 800px;
}
.slider {
  height: 30px;
  margin: auto;
  position: relative;

  display: grid;
  place-items: center;
  background-color: white;
  overflow: hidden;
}
.all-flags {
  display: flex;
  flex-direction: row;
  width: calc(50px * 250 * 2);
  animation: scroll 150s linear infinite;
}
.all-flags:hover {
  animation-play-state: paused;
}

.all-flags .flag-container {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;
}

.all-flags .flag-container img {
  max-width: 30px;
  max-height: 30px;
  object-fit: cover;
}

.all-flags .flag-container img:hover {
  transform: translateZ(20px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50px * 250));
  }
}
