.main-container {
  background: linear-gradient(
      to bottom,
      var(--secondary-colour),
      var(--main-colour)
    )
    no-repeat fixed;
  min-height: 100svh;
  padding: 0 0 1rem;
}

.body-container {
  padding: 1rem;
}
